@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--Very-Light-Gray);
}

h1,h2{
    color: var(--Very-Dark-Blue);
    font-size: 2rem;
}

h1 span{
    font-weight:300;
}

p{
    color: var(--Grayish-Blue);
    line-height: 2;
    padding-bottom: 4rem;
}

main{
    padding: 2rem;
}
main > article:first-child {
    text-align: center;
}
main > article:first-child h1{
    margin-bottom: 1.5rem;
}

main .cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}
main .cards article{
    background-color: var(--Very-Light-Gray);
    box-shadow: 0 0 16px hsl(180, 62%, 55% 0.55);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

main .cards article:first-child {
    border-top: 0.5rem solid hsl(180, 62%, 55%);
}
  
main .cards article:nth-child(2) {
    border-top: 0.5rem solid hsl(0, 78%, 62%);
}
  
main .cards article:nth-child(3) {
    border-top: 0.5rem solid hsl(212, 86%, 64%);
}
  
main .cards article:last-child {
    border-top: 0.5rem solid hsl(34, 97%, 64%);
}

main .cards article h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
  
main .cards article p {
    margin-bottom: 5rem;
}
  
main .cards article img {
    display: block;
    margin-left: auto;
}

@media (min-width: 768px) {
    main > article {
      max-width: 500px;
      margin: auto;
    }

    main .cards {
        max-width: 1400px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    
    main .cards article {
        width: 400px;
      }
    
      main .cards article:nth-child(odd) {
        transform: translateY(50%);
      }
  
}